body {
    padding: 30px 150px 30px 150px;
}

.panel-body {
    padding: 20px;
}

.custom-panel {
    padding: 10px;
    height: 200px;
}
.btn-add-new {
    margin-top: 10px;
}

.custom-alert {
    padding: 5px;
    margin-bottom: 5px;
}